<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermarket App</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <a href="/" class="brand">ShopFood</a>
    <ul class="nav-links">
      <% if (!user) { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <% } else { %>
          <li><a href="/logout">Logout</a></li>
          <% } %>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="container text-center">
    <% if (user) { %>
      <% if (user.role==="admin" ) { %>
        <h2>Welcome, <%= user.username %> (Admin)</h2>
        <p>Back to <a href="/inventory" class="inline-button">Inventory</a></p>
        <% } else { %>
          <h2>Welcome, <%= user.username %>
          </h2>
          <p>Continue <a href="/shopping" class="inline-button">Shopping!</a></p>
          <% } %>
            <% } else { %>
              <h2>Welcome to ShopFood Online!</h2>
              <p>
              <p>
                First time here?
                <a href="/register" class="inline-button">Register for an account</a><br>
                If not,
                <a href="/login" class="inline-button">Login</a> to continue
              </p>
              </p>
              <% } %>
  </div>
</body>

</html>