<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermarket App - Login</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <a href="/" class="brand">ShopFood</a>
    <ul class="nav-links">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>



  <!-- Main Container -->
  <div class="container">
    <h1 class="page-title">Login</h1>

    <!-- Error Messages -->
    <% if (errors && errors.length> 0) { %>
      <div class="alert alert-danger">
        <% errors.forEach(error=> { %>
          <p>
            <%= error %>
          </p>
          <% }); %>
      </div>
      <% } %>

        <!-- Success Messages -->
        <% if (messages && messages.length> 0) { %>
          <div class="alert alert-success">
            <% messages.forEach(message=> { %>
              <p>
                <%= message %>
              </p>
              <% }); %>
          </div>
          <% } %>

            <!-- Login Form -->
            <form action="/login" method="POST" class="form-card">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>

              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
              </div>

             <button type="submit" class="btn-auth">Login</button>
            </form>
  </div>

</body>

</html>